
<nav class="navbar navbar-dark bg-primary mb-5">
        <a class="navbar-brand" href="/">Recipes Book</a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="/recipes" >Recipes</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
          </div>
        </div>
        <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" style="cursor: pointer;">Fetch Data</a>
                <a class="dropdown-item" style="cursor: pointer;">Save Data</a>
              </div>
            </li>
          </div>
        </div>
</nav>